.main
  .header
    .header__left
      .header__left__group-name
        group name
      .header__left__member
        Member:
    .header__right
      = link_to "#", class: "header__right__btn" do
        Edit
  .contents
    .contents__log1
      .contents__log1__name
        name１
      .contents__log1__time
        2019/11/08/19:14:39 time1
    .contents__message1
      message1
    .contents__log2
      .contents__log2__name2
        name2
      .contents__log2__time2
        2019/11/28/12:00:22 time2
    .contents__message2
      message2
