.main
  .header
    .header__left
      .header__left__group-name
        group name
      .header__left__member
        Member:
    .header__right
      = link_to "#", class: "header__right__btn" do
        Edit
  .contents
    .contents__log1
      .contents__log1__name
        name１
      .contents__log1__time
        2019/11/08/19:14:39 time1
