.sidebar
  .sidebar__top
    .sidebar__top__left
      Nickname
    .sidebar__top__right
      = link_to "#", class: "sidebar__top__right__edit-btn" do
        = icon('fas', 'edit', class: "sidebar__top__right__edit-btn__icon")
      = link_to "#", class: "sidebar__top__right__cog-btn" do
        = icon('fas', 'cog', class: "sidebar__top__right__cog-btn__icon")
  .sidebar__main
