.main
  .header
    .header__left
      .header__left__group-name
        group name
      .header__left__member
        Member:
    .header__right
      = link_to "#", class: "header__right__btn" do
        Edit
  .contents
    .contents__log
      .contents__log__name
        -# name１
      .contents__log__time
        -# 2019/11/08/19:14:39 time1
    %p.contents__message
      -# message1
  .footer
    .footer--flex
      %input{class: "footer--flex__message", type: "text", name: "body", placeholder: "type a message"}
        %label{class: ".footer--flex__message__image"}
          = icon('far fa-lg', 'image', class: "footer--flex__message__image__icon")
          %input{class: "footer--flex__message__image__btn", type: "file", accept: "image", name: "image"}       
      %input{class: "footer--flex__submit", type: "submit", value: "Send"}
