@import "mixin/flexbox";
@import "config/color";

.wrapper {
  @include flexRowBetween();

  .main {
    @include flexColumn();
    height: 100%;
    width: calc(100vw - 300px);

    .header {
      @include flexRowBetween();
      height: 96px;
      width: calc(100% - 80px);
      padding: 0 40px;

      &__left {
        @include flexColumn();

        &__group-name {
          margin: 35px 0 15px;
          font-size: 20px;
          color: #333;
        }

        &__member {
          font-size: 12px;
          color: #999;
        }
      }

      &__right {
        height: 38px;
        width: 70.72px;
        margin: 28px 0 28px;
        border: solid 1px $mainBlueColor;

        &__btn {
          display: block;
          height: 100%;
          width: 100%;
          color: $mainBlueColor;
          text-decoration: none;
          text-align: center;
          line-height: 40px;
        }
      }
    }

    .contents {
      @include flexColumn();
      height: calc(100vh - 232px - 1px);
      padding: 46px 40px 0;
      border-top: solid 1px #eee;       
      background-color: #fafafa;

      &__log1 {
        @include flexRowStart();
        margin-bottom: 10px;

        &__name {
          font-size: 16px;
          font-weight: bold;
          color: $textMainGrayColor;
        }

        &__time {
          font-size: 12px;
          margin-left: 10px;
          color: #999;
        }
      }

      &__message1 {
        margin-bottom: 40px;
        font-size: 14px;
        color: $textMainGrayColor;
      }

      &__log2 {
        @include flexRowStart();
        margin-bottom: 10px;

        &__name2 {
          font-size: 16px;
          font-weight: bold;
          color: $textMainGrayColor;
        }

        &__time2 {
          font-size: 12px;
          margin-left: 10px;
          color: #999;
        }
      }

      &__message2 {
        margin-bottom: 40px;
        font-size: 14px;
        color: $textMainGrayColor;
      }   
    }

    .footer {
        @include flexRowBetween();
        height: 90px;
        background-color: #ddd;

      &__message {
        height: 50px;
        width: 100%;
        // margin: auto 15px auto calc(20px + 21.34px);
        margin: auto 15px auto 40px;
        padding: 0 41.34px 0 10px;
        font-size: 16px;
        color: $textMainGrayColor;
        border: none;

