@import "mixin/flexbox";
@import "config/color";

.wrapper {
  @include flexRowBetween();

  .main {
    @include flexColumn();
    height: 100%;
    width: calc(100vw - 300px);

    .header {
      @include flexRowBetween();
      height: 96px;
      width: calc(100% - 80px);
      padding: 0 40px;
